# Ignore everything
*

# Ignore plugin directories
tmux/plugins/**

# Track only these
!nvim/
!nvim/**
!tmux/
!tmux/tmux.conf
!kitty/
!kitty/**
!zsh/
!zsh/**
!.gitignore
!kanata
!fastfetch/
!fastfetch/**

# Local nvim backups (keep out of the repo)
nvim/old/
nvim/backup-*/
